[2017-01-05 22:31] leofidus opened #1 "Support custom URLs"
Bandcamp allows Pro users to set up custom domains (https://bandcamp.com/help/custom_domain). One example would be http://music.disasterpeace.com/album/fez-ost

It would be great if there was a way to support these. Maybe an option in the extension's menu to manually trigger an action?

Other than this, this extension is great! Keep up the good work.

[2017-01-06 11:56] #1 closed, assigned to jaymoulin

[2017-01-06 11:57] jaymoulin commented on #1
It will be available on Chrome Webstore in few minutes

[2017-01-07 02:59] leofidus commented on #1
That was fast and it works great. Thanks :)

[2017-02-06 03:33] jaymoulin opened #2 "Option Page"
Create option page where we can toggle notifications. Maybe toggle asynchronous / synchronous downloads

[2017-02-06 03:34] jaymoulin opened #3 "Background Mode"
Think about a background mode, where we can see ongoing downloads, maybe retry some

[2017-03-11 17:37] jaymoulin opened #4 "Unable to download simultaneous tracks"
Some users are experiencing trouble downloading tracks simultaneously since a recent update.

Re-Consider use of procedural treatment. (probably related to #2 )

[2017-03-17 20:18] #4 closed, assigned to jaymoulin

[2017-03-17 20:18] #3 closed, assigned to jaymoulin

[2017-03-17 20:18] #2 closed, assigned to jaymoulin

[2017-03-18 02:54] trevd opened #5 "Add file extension"
Nice work! It would be nice if there was an option to add the file extension to the downloaded file name.

Not sure whether this only affects Linux

[2017-03-18 11:14] jaymoulin commented on #5
Can you tell me more about that? Files are encoded in MP3 format, do you want to re-encode or just rename the file?

[2017-03-18 11:48] jaymoulin commented on #5
Or maybe you're talking about the generated zip file?

[2017-03-20 12:18] trevd commented on #5
Hi, Sorry should have been more precise :)

It's the filename's inside the generated zip file.
The example url I used is https://professorelemental.bandcamp.com/album/professor-elemental-his-amazing-friends

Which produces a zipfile with the following
[code]
So ideally the file names should have a file extension. My use case is
Downloading on Linux then transfering to Windows.

Thanks

[2017-03-20 19:21] jaymoulin commented on #5
My bad, that's a silly bug. I fix that right now. Thanks for reporting me

[2017-03-20 19:27] #5 closed, assigned to jaymoulin

[2017-03-23 20:19] jaymoulin opened #6 "More precise Download page"
Make refresh of the informations displayed in the Download page a bit more precise than a full reload.
Reload only needed information

[2017-05-21 01:29] zypA13510 opened #7 "extension causing strange browser behaviour"
Hello,

I installed your extensions a few days ago, and now I have several issues that I'd like to report:

1. It's causing problems with visitor counter on websites. Tested on my own website with a simple PHP counter, it always adds 2 visits instead of one. This is the same for those websites without session / IP records. I don't know what's going on but disabling this extension seems to solve th

[2017-05-22 11:55] jaymoulin commented on #7
Can you please open an issue for each problem you have so I can manage to fix what I can as soon as possible and for other users to have better informations for each issue?

[2017-05-22 15:28] zypA13510 opened #8 "Please allow track-based download control"
On many occasions, this extension will fail on one of the tracks in an album but lacks timeout mechanism. It will wait forever for the download to complete (a notification will appear saying the download of the track failed, but nothing changes. Status on the download list is still "waiting" and no zip file will be created in the downloads folder). The only way to resolve this seems to be restarti

[2017-05-22 15:33] zypA13510 commented on #7
Hi, I have moved the third one to a separate issue. I think 1 and 2 may be related in a way, do I have to split them into two issues?

[2017-05-22 15:35] jaymoulin commented on #7
Thanks for your efforts, I'll try fix this ASAP

[2017-05-22 21:24] jaymoulin commented on #7
Version should be available soon for you all through chrome webstore. Thanks for reporting and for your support.

[2017-05-22 21:24] #7 closed, assigned to jaymoulin

[2017-05-30 13:47] jazzhead94 opened #9 "unknown persistent error on url: shabakaandtheancestors.bandcamp.com/"
I wish I could fill in you more but I know as much about pulling up code as an ant does about magnifying glass manufacture. I recently got your extension and it works beautifully across most sites on the service but I run into the same problem with this particular URL where it'll partially download and freeze. As far as I can tell there are no pointers a where the error actually comes from; feelin

[2017-05-31 22:00] jaymoulin commented on #9
I can give you some information. The extension detects 9 tracks for this album, Bandcamp displays 7 tracks, but only 4 tracks are really listenable. I have to fix this issue to allow only listenable tracks to be downloaded, but I guess fixing #8 may help as well. It will result in a downloaded album with only 4 tracks

[2017-05-31 22:52] #9 closed, assigned to jaymoulin

[2017-06-02 21:26] jaymoulin commented on #8
Since #9 is fixed, this shouldn't bother you anymore. pause/start is a bit difficult to implement without a real gain. Cancel and retry were already added in 0.3.0

[2017-06-02 21:26] #8 closed, assigned to jaymoulin

[2017-07-11 08:26] jazzhead94 commented on #9
Sorry to get back to you  so late,  I live in a pretty rural area my access is intermittent outside of term-times, this has been helpful; thanks.

________________________________
From: Jay MOULIN <notifications@github.com>
Sent: 01 June 2017 12:52 AM
To: jaymoulin/bandcamp-down-chrome-ext
Cc: jazzhead94; Author
Subject: Re: [jaymoulin/bandcamp-down-chrome-ext] unknown persistent error on url: sha

[2017-07-18 13:46] e200 opened #10 "Can we have a option to download discographies?"
Sometimes i like to play musics offline on my computer 'cause my internet connection is a sheet!

The problem is that, when i need to download albums from a discography i need always to click in the discography, and start opening each album all the time to download, and it's very hard.

Can we have a similar function? So we can select the albums and download them from a discography instead of open

[2017-08-04 17:14] #10 closed, assigned to jaymoulin

[2017-08-04 20:24] e200 commented on #10
**I Love You**

[2017-08-08 09:24] e200 opened #11 "Someway of continue downloading a discography"
Can you bring to us a way to get back the to the progress of a **discography** download?

I tried to download a **discography** but it stucks while downloading the **albums**, i don't know why, but thats not a problem with my Internet connection.

When it stucks, i stop it, but, if i try again, it downloads **albums** already downloaded.

[2017-08-08 09:26] e200 opened #12 "Bug! A bug downloading a discography"
**Discography** not downloading on click **notification**.

[1.mkv.zip](https://github.com/jaymoulin/bandcamp-down-chrome-ext/files/1207489/1.mkv.zip)

[2017-08-08 09:28] e200 opened #13 "Bug! Don't shows discography download in some discographies"
Don't shows **discography** download **notification** in some **discographies**

[2.mkv.zip](https://github.com/jaymoulin/bandcamp-down-chrome-ext/files/1207495/2.mkv.zip)

[2017-08-22 13:56] jaymoulin commented on #11
I think you can restart all downloadable tracks by accessing the option Menu (right click on extension > Options) (chrome-extension://nmoobgpmablfmgchfjnhkbloaobiogeh/options.html).

You should have an option to retry all.

[2017-08-22 14:33] jaymoulin commented on #12
Just bad luck. You tried this url : https://atjazzrecordcompany.bandcamp.com/music which is not available anymore. They moved to https://atjazz.bandcamp.com/music which seems to work better

[2017-08-22 15:17] #13 closed, assigned to jaymoulin

[2017-08-22 19:57] e200 commented on #12
No man, it's really a bug, they moved a week ago.

See the video, i recorded that video before they moved to another url.

[2017-08-22 19:58] e200 commented on #12
Think with me :)

If you're right, why i get a notification of an available discography if there's no available discography for that link?

[2017-08-22 20:01] e200 commented on #11
Sorry, i didn't  saw that option before.

Thank you!

[2017-08-23 08:29] jaymoulin commented on #12
When you go on a discography page, all albums discovered are added to the album downloadable list (with all other pages). Then, the artist is extracted from that page and all album matching this artist are downloaded.

This means that if the artist on the discography page differs from albums, you can't download the album. So, the following behavior occurs :
- You get notified that a discography is

[2017-08-23 08:29] #11 closed, assigned to jaymoulin

[2017-08-23 09:44] jaymoulin commented on #12
I forced the artist to avoid the problem. The 0.4.2 version should be available on Chrome webstore soon

[2017-08-23 09:44] #12 closed, assigned to jaymoulin

[2017-08-23 13:26] e200 commented on #12
. Many Thanks.

[2017-08-28 09:40] e200 opened #14 "Error while trying to install ext"
![captura de ecra de 2017-08-28 10-39-00](https://user-images.githubusercontent.com/20504726/29768163-22b9cdc2-8bdd-11e7-8c58-ab1e2399c852.png)

Invalid package. Details "Cannot load background script "js/dist/FileSaver.min.js".".

[2017-08-28 09:46] jaymoulin commented on #14
Explains a lot of things... I'll handle that ASAP

[2017-08-28 09:55] #14 closed, assigned to jaymoulin

[2017-09-26 14:40] pHROZEN-gHOST opened #15 "bandcamp download chrome ext 0.4.4 not working on bandcamp."
A couple of weeks ago I noticed that the application no longer works on bandcamp.
I assumed that this would be a common problem with others and that it would get fixed.
So, rather than be a part of the crowd, I waited for an update. It's still not working.
I am on Windows 10 Pro with all updates and the latest Chrome.
There is a dialog, like the download prompt, which says "{album name} error whil

[2017-09-26 16:50] jaymoulin commented on #15
Do you have any URL to reproduce this issue? I don't seem to have any problem.

Please also notice that this extension is actually in a selling process and may have changes, support changes or discontinued maintenance.

[2017-09-26 18:37] pHROZEN-gHOST commented on #15
I cannot get ANY bandcamp stored music to work.
It could be an issue on my end ..for example a recent update to uBlock Origin that prevents something from connecting.
I'm gong to disable other addons just to see if I can get it to work again. If I find a culprit, I will point it out.

[2017-09-26 18:42] pHROZEN-gHOST commented on #15
OK, I disabled ALL extensions except for yours. I still cannot download from bandcampHere's a url ... 
        Shower Talk, by Anna Jean

|
|
|
|   |    |

   |

  |
|
|   |
Shower Talk, by Anna Jean
 8 track album  |   |

  |

  |

My next step is to turn off the firewall and virus scanner.

[2017-09-26 18:53] jaymoulin commented on #15
Still no problem:

[code]

URL used to reproduce : https://annajean.bandcamp.com/album/shower-talk

[2017-09-26 18:58] pHROZEN-gHOST commented on #15
I wonder if Bandcamp is blocking my IP address  :-(

[2017-09-26 19:38] jaymoulin commented on #15
Bandcamp blocks some requests when you make too many calls, but you can occasionally retry them in the extension options : [chrome-extension://nmoobgpmablfmgchfjnhkbloaobiogeh/options.html](chrome-extension://nmoobgpmablfmgchfjnhkbloaobiogeh/options.html)

[2017-09-26 20:42] mmmxnv commented on #15
Hello, for two days that the application does not let me download any kind of music, what is the problem? :(

[2017-09-26 21:13] jaymoulin commented on #15
What is your problem? URL to reproduce? Version?

[2017-09-26 21:22] mmmxnv commented on #15
the first time i tried to download this https://brockbeats.bandcamp.com/album/chilled-rooms
but when it will download, I get many errors that say "error while downloading!".
and i think the version is 0.4.3

[2017-09-26 21:25] jaymoulin commented on #15
As I explained just before your post, Bandcamp blocks some requests when you make too many calls, but you can occasionally retry them in the extension options : chrome-extension://nmoobgpmablfmgchfjnhkbloaobiogeh/options.html

[2017-09-26 21:29] neil3011 commented on #15
i am also getting error while downloading file. worked fine only about 30 mins ago but now the album i want to download is 'waiting' and i cant retry it

[2017-09-26 21:33] mmmxnv commented on #15
try to re-download it in this link, but I still see the same mistakes

[2017-09-26 21:41] neil3011 commented on #15
nope still same problem

[2017-09-26 21:43] DevoRedxx commented on #15
Yeah same here, its not working on my PC. I even tried it on my Laptop and its still not working. Is there any way to use this again or is it over?

[2017-09-27 01:11] pHROZEN-gHOST commented on #15
This extension used to work like a charm every time I used it. Something has changed. Now it fails every time.

[2017-09-27 01:50] mmmxnv commented on #15
I hope this is solved

[2017-09-27 07:11] jaymoulin commented on #15
As you can see in commits, nothing has changed. Bandcamp always blocked request and that's why I implemented the download manager in 0.3.0.

If the extension detects album and tracks, this means the issue you're having is not related with the way that pages are generated by bandcamp.

It might have a security added to avoid download of files but, it that were the case, I would be able to reproduce

[2017-09-27 07:36] aquaeous commented on #15
is there anyway somebody can donate so the issue can be looked at, im getting an error as well

[2017-09-27 12:36] pHROZEN-gHOST commented on #15
I think the issue may be something more subtle. Knowing what the "error" is would be helpful.

For example, the extension may be timing out for some of us while it is not for you ... because of differences in the network which we are dealing with. i.e. you may not have as many hops to get to the source. Just a guess tho'.

[2017-09-27 21:38] seanmbrosnan opened #16 "bandcamp downloader won't download"
I get a notification that tells me ''1% initializing...'' but nothing seems to happen, I don't even get a download error notification, all the songs say ''waiting''.
 I've tried restarting chrome, resetting router, uninstalling, reinstalling the program, but hasn't resolved the issue. Is anyone else having this problem?

[2017-09-27 21:41] jaymoulin commented on #16
Might be related to #15. This will stay open until selling process is done.

[2017-09-28 21:41] e200 commented on #15
After read the comments and test the extension, i conclude that something goes wrong, not in the developer side, but its appear to be some changes on the Bandcamp server.

My extension always worked fine, until i check today.

Its doesn't take any time to fail, it fail immediately.

[2017-09-28 21:45] jaymoulin commented on #15
I can confirm that. But as explained earlier, I'm in a selling process and will not be part of the dev team anymore. This should be handled by the new dev team. I'm just waiting confirmation that the transaction is done to close the project

[2017-10-04 09:19] jaymoulin commented on #15
Extension has been sold to quotetab.com. You can contact them at support@quotetab.com
You can still donate me to continue making great extensions :
[![Bitcoin donation](https://github.com/jaymoulin/jaymoulin.github.io/raw/master/btc.png "Bitcoin donation")](https://m.freewallet.org/id/374ad82e/btc)
[![Litecoin donation](https://github.com/jaymoulin/jaymoulin.github.io/raw/master/ltc.png "Litecoin

[2017-10-04 09:19] jaymoulin commented on #16
Extension has been sold to quotetab.com. You can contact them at support@quotetab.com.

You can still donate me to continue making great extensions :
[![Bitcoin donation](https://github.com/jaymoulin/jaymoulin.github.io/raw/master/btc.png "Bitcoin donation")](https://m.freewallet.org/id/374ad82e/btc)
[![Litecoin donation](https://github.com/jaymoulin/jaymoulin.github.io/raw/master/ltc.png "Litecoi

[2017-10-04 09:20] jaymoulin commented on #6
Extension has been sold to quotetab.com. You can contact them at admin@quotetab.com

[2017-10-05 13:43] jaymoulin commented on #15
The selling process of this extension turned extremely bad and the new acquirer refuses to pay what's due. The new acquirer said it will not fix the issue. As a result I will not publish sources anymore publicly and will probably start over again.

Please consider making donation so we could make a great extension together.

[![Bitcoin donation](https://github.com/jaymoulin/jaymoulin.github.io/raw

[2017-10-05 13:43] jaymoulin commented on #16
The selling process of this extension turned extremely bad and the new acquirer refuses to pay what's due. The new acquirer said it will not fix the issue. As a result I will not publish sources anymore publicly and will probably start over again.

Please consider making donation so we could make a great extension together.

[![Bitcoin donation](https://github.com/jaymoulin/jaymoulin.github.io/raw

[2017-10-06 09:58] #16 closed, assigned to jaymoulin

[2017-10-06 09:59] #15 closed, assigned to jaymoulin

[2017-10-30 16:18] noisician opened #17 "ratings link"
FYI, the "please rate this extension" link in KeepTune points to Bandcamp Downloader.

[2017-10-30 17:12] jaymoulin commented on #17
Thanks for the report I handle that right now!

[2017-10-30 17:16] #17 closed, assigned to jaymoulin

[2017-11-16 17:27] mmmmna opened #18 "Soundcloud shows deep code on hover"
Logged into my Soundcloud account makes no difference.
Reference this Soundcloud link
https://soundcloud.com/off-limits/off-limits-100k-likes-mix-free-download

KeepTune extension enabled, shows lengthy tooltip when hovering on the page, looks like a
list of segments with sequential numbering and the word asset, suffix .js
https://mega.nz/#!tJxEDZID!1v6DEfMBCKGV1WrSs281Xf7PSnm6zzXIqabpVFZq-HM

Dis

[2017-11-16 17:30] jaymoulin commented on #18
Thanks for your report, I'm already aware of this bug and have a fix available but I'm working on many things at the moment to prepare a meaningful release instead of many bug-fixes

[2017-11-16 17:33] mmmmna commented on #18
Coolness abounds, thanks for the email! Updated report a couple times
(browser and distro) if that helps any.

On Thu, Nov 16, 2017 at 12:30 PM, Jay MOULIN <notifications@github.com>
wrote:

[2017-11-16 17:35] jaymoulin commented on #18
I didn't see anything but this report

[2017-11-16 18:58] mmmmna commented on #18
In the original post.

[2017-11-16 18:58] #18 closed, assigned to jaymoulin

[2017-11-27 12:33] #6 closed, assigned to jaymoulin

[2017-12-20 14:57] mmmmna opened #19 "Discography d/l doesn't complete in interactive method"
Keeptune 1.1.1, Slimjet browser 'Version 16.0.9.0 (based on Chromium 61.0.3163.79) (Official Build) (64-bit)'

Visited a netlabel on Bandcamp. NewRetroWave is an example, but issue is not exclusive to that discography.

Keeptune discovers there is a discography,
offers me a download discography alert,
when I quickly click the download discography alert, only a few of the discography releases that

[2017-12-20 15:23] jaymoulin commented on #19
I don't get your point. What is your suggestion?

[2017-12-21 18:26] #19 closed, assigned to jaymoulin

[2017-12-28 20:56] mmmmna commented on #19
Well, I was suggesting that you might investigate how the discography
elements were pushed into a queue fully processed, and maybe see if all the
elements of a discography were actually presented to the user for
downloading. Possibly the messages for each element of the discography pop
under other like messages and simply time out? In any event, I have only
been able to click on less than a full d

[2018-04-16 21:11] farazfp commented on #8
The issue persists in many cases where timeout occurs and say, a single track remains to be downloaded. The only cure seems to be to reload the main album page and request a full download again, which apparently discards whatever has already been downloaded. I am not seeing cancel or retry buttons in the options page also. Even if pause/start is difficult, a stop/restart button for each track coul

[2018-04-17 18:29] jaymoulin commented on #8
@farazfp Please create another issue for considering cancel button on pending request.
Also be sure you use KeepTune (https://chrome.google.com/webstore/detail/keeptune/oidamlgjlcjhdpkflfefcemhmfpmlfbj) to see this update if/when this new feature request is handled.

[2018-04-17 20:06] farazfp opened #20 "Request for Granular (Track-based) control of starting, restarting, cancellation."
Sometimes, certain tracks get stuck in the "waiting" state:

![image](https://user-images.githubusercontent.com/5468563/38893393-66c75ca4-429f-11e8-8a6c-a6a94bca4260.png)

and when this happens, there seems to be no way to let Keeptunes know that a timeout has occurred; the complication being that all that has been downloaded will be discarded if a new request for download is made by refreshing th

[2018-04-17 22:53] jaymoulin commented on #20
Thank you for this issue. I'll try to handle it as soon as schedules allows it

[2018-04-22 21:52] #20 closed, assigned to jaymoulin

[2018-04-29 14:32] farazfp commented on #20
Stellar job, as always sir. The update works swimmingly. You rock! :1st_place_medal:

[2018-04-29 17:41] jaymoulin commented on #20
Don't forget to star the repo ;)

[2018-05-18 10:34] Nao commented on #16
Are you aware that Bandcamp Downloader (which I understand you're no longer in control of, so I've disabled it) now seems to be malware?

To be specific: it injects itself into all web pages (which is already suspicious enough as it is...), and tries to contact 'netanalitics.space' which in turns adds a hex-encoded script which loads another script from 'labeyrietechnology.com', which in turns che

[2018-05-18 10:39] jaymoulin commented on #16
You can install KeepTune instead which is my original code without the malware thing. I have to insert a script into bandcamp pages to be able to catch javascript variables that gives numerous informations to make this extension possible

[2018-05-19 21:43] pointydev opened #21 "Extension prevents the PayPal settings menu from loading"
Title says it all really, heres a screenshot for archival purposes:

![](https://pointy.needs-to-s.top/27f2fb.png)

Thanks,
Elliott

[2018-05-23 20:48] jaymoulin commented on #21
Thanks for reporting this issue. The fix should be available on 2.0.1 in few hours on Chrome Webstore

[2018-05-23 20:48] #21 closed, assigned to jaymoulin

[2018-06-15 14:26] davetremblay opened #22 "Question Mark in Album Title Not Working"
Hi, I've found that an album with a question mark in its title seems to not be working. Also earlier (I don't know if fixed now) there was some odd behaviour of the program whenever there was a "/" in a song title, and it wasn't working when the slash was in the artist name. Thanks!

[2018-06-22 11:39] jaymoulin commented on #22
Should be fixed. Update in few hours. Reopen this issue if you think it isn't

[2018-06-22 11:39] #22 closed, assigned to jaymoulin

[2018-06-26 02:08] mmmmna opened #23 "Soundcloud doesn't activate Keeptune"
Slimjet browser Version 19.0.4.0 (based on Chromium 66.0.3359.117) (Official Build) (64-bit).

Visit www.soundcloud.com

Log in.

Go to an artist, I used https://soundcloud.com/bynar

Scroll down to Music For The Mashes Vol. 3 Album

Play any track from the album.

Keeptune has not done anything, is greyed out.

Go to keeptune icon, click it, select options, click that.
"Downloads   Nothing to dow

[2018-06-26 14:15] jaymoulin commented on #23
The extension is behaving as expected. Maybe I should be clearer in the documentation on how it is supposed to work. You have to go to the `album` tab for the extension to detect albums. In your case : https://soundcloud.com/bynar/albums

[2018-06-26 14:15] #23 closed, assigned to jaymoulin

[2018-06-26 22:54] mmmmna commented on #23
Thanks for the clarification.

Following that link to https://soundcloud.com/bynar/albums, I eventually downloaded (after 6 minutes) the 4 available Bynar albums.

For the record, all 4 album dialogs pop in the exact same location onscreen, often on top of each other. We see one dialog versus knowing there are 4 albums. We click the visible dialog, and MAYBE a second dialog is waiting beneath it.

[2018-06-27 08:30] jaymoulin commented on #23
I suggest you decide which notification should be displayed as only one notification for discography is shown. The notification system is built in Chrome.

chrome-extension://oidamlgjlcjhdpkflfefcemhmfpmlfbj/options.html#settings

[2018-07-04 19:46] mmmmna opened #24 "Says downloaded, but where?"
Ubuntu Mate 18.04 LTS for x64, Slimjet Version 19.0.4.0 (based on Chromium 66.0.3359.117) (Official Build) (64-bit)

Visit URL: https://newretrowave.bandcamp.com/album/the-chase-last-run
This album is downloadable!
Autostart enabled.
percentages increment to completion.
Downloaded message.
Nothing more.

Attached screenshot of my Keeptune settings
![screenshot at 2018-07-04 15-44-45](https://user-

[2018-07-04 20:38] jaymoulin commented on #24
Related to #22

[2018-07-04 20:59] #24 closed, assigned to jaymoulin

[2018-07-24 21:25] Voidthing opened #25 "Not downloading to chrome"

[2018-07-24 21:28] jaymoulin commented on #25
Please give context or this issue will not be treated

[2018-07-24 23:19] #25 closed, assigned to jaymoulin

[2018-09-02 02:06] mmmmna opened #26 "Performance review"
Keeptune 2.1.0
Flashpeak Slimjet, "Version 19.0.4.0 (based on Chromium 66.0.3359.117) (Official Build) (64-bit)"

Example link https://donpeyote.bandcamp.com/album/dreamcatcher
has 10 releases, at least 7 are captured by KeepTune, but I lost track while shutting them all down..

1] each album is presented via a popup message window.
1a] the popup window has a close button, I click it.
1b] tens of

[2018-09-02 12:44] jaymoulin commented on #26
Go to options, Uncheck all options
Click Keeptune highlighted logo when you can download an album, You can see what is downloadable and what to download

[2018-09-02 12:44] #26 closed, assigned to jaymoulin

[2018-09-05 22:36] mmmmna commented on #26
Sorry, I see my curiosity isn't what it might have been.

So this:
Right click the Keeptune logo (it is highlighted when you can download something).
Click on Options in the menu that pops up.
Then click on Settings.
Adjust settings to your preferences.

Me: Download Autostart should be set to 'off' or 'left' or 'dark'.

Had I been more curious regarding the extension, I might have *looked* for se

[2018-09-05 22:44] jaymoulin commented on #26
Thank you for precising the steps. This may help other users.

[2018-10-05 16:21] Gimlao opened #27 "Include album cover files in the ZIP"
In every Bandcamp pages, there are two cover files : a small one (700x700) and a big one (full size).

It would be nice to include both files in the ZIP. ❤️

[2018-10-05 17:36] jaymoulin commented on #27
You already have the cover in each MP3 as an id3 tag but I think this is a good idea to add them in the zip as well due to different device support.

[2018-10-05 18:46] Gimlao commented on #27
Actually, I don't see any covers in the id3 tags after downloading with KeepTune... =/

I always download the cover files and include them with Mp3tag or iTunes. '-'

[2018-10-05 18:54] Gimlao opened #28 "Tracks with "/" in the title create additional folders"
Example : https://music.disasterpeace.com/album/fz-side-f

It will create two folders in the « **FZ- Side F** » folder :
« **2 - Datassette - Sync** » containing « **Glitch.mp3** »
« **12 - coda - The Clock Master (Sync** » containing « **Majesty).mp3** »

Maybe KeepTune should replace any "/" by a "-", like ":" being replaced by "-".

[2018-10-13 05:12] noisician opened #29 "has Keeptune stopped working for Bandcamp in the last few days?"
On Bandcamp, it just gets stuck after pressing download. It shows all the tracks with "waiting/cancel" next to them, but they are never downloaded.

I don't know if Bandcamp changed something?

Or is there some way the problem is on my end? I tried removing and re-installing the extension.

[2018-10-13 11:36] jaymoulin commented on #29
Thanks for reporting.

After tests, everything is working as expected.

You may experience some network problem. Sometimes, bandcamp limit downloads because you exceeded quota. Try with another IP (like connecting via through your phone) or a proxy or another network etc...

[2018-10-13 11:36] #29 closed, assigned to jaymoulin

[2018-10-13 13:16] jaymoulin commented on #28
This will be available in few moments on chrome webstore in version 2.2.0.

Please donate, rate this extension (https://chrome.google.com/webstore/detail/keeptune-download-on-band/oidamlgjlcjhdpkflfefcemhmfpmlfbj/reviews) and give a star on Github so I can continue making useful apps.

[2018-10-13 13:16] #28 closed, assigned to jaymoulin

[2018-10-13 13:16] jaymoulin commented on #27
This will be available in few moments on chrome webstore in version 2.2.0.

Please donate, rate this extension (https://chrome.google.com/webstore/detail/keeptune-download-on-band/oidamlgjlcjhdpkflfefcemhmfpmlfbj/reviews) and give a star on Github so I can continue making useful apps.

[2018-10-13 19:40] Gimlao commented on #27
I've seen that you include the "SD" cover ( 700x700, for example : https://f4.bcbits.com/img/a0611157579_16.jpg ), could you also include the "HD" one ( ex : https://f4.bcbits.com/img/a0611157579_10.jpg ) ?

Also, it seems that the 700x700 cover is now in the id3 tags, thanks. <3

[2018-10-15 22:35] noisician commented on #29
thanks for responding! i tried again and it did work once more, so perhaps it's the quota or network issue you mentioned.

[2018-10-19 09:35] jaymoulin opened #30 "Soundcloud does not seem to trigger Keeptune"
Version 2.2.0
Unable to download this : https://soundcloud.com/oldschoolmusical/sets/osm-soundtrack

[2018-10-20 15:21] davetremblay opened #31 ""Failed - Network Error""
I get that whenever I try to download an album from KeepTune. I tried restarting the browser, the computer, uninstalling and reinstalling the extension, but nothing works.

[2018-10-20 15:55] jaymoulin commented on #31
Duplicates #29 - Keeptune works correctly. Check you network settings, don't exceed quota and try on a new IP

[2018-10-20 15:55] #31 closed, assigned to jaymoulin

[2018-10-20 17:51] davetremblay commented on #31
I tried on different IPs on a VPN. What quota are you referring to?
Dave Tremblay

[2018-10-20 17:53] jaymoulin commented on #31
Bandcamp has quota for listening/downloading music. If you can't listen to music on the site, you will not be able to download it. That's how Keeptune works

[2018-10-20 18:29] davetremblay commented on #31
Ah then no I am able to stream the music just fine, but I don’t know why this network error keeps happening. It used to work properly.
Dave Tremblay

[2018-10-20 18:31] jaymoulin commented on #31
Then you're just overquota, as refered in #29

[2018-10-21 19:17] #27 closed, assigned to jaymoulin

[2018-10-21 19:17] #30 closed, assigned to jaymoulin

[2019-01-21 19:27] c0c0c0 opened #32 "feature request and question"
Please include album year in album folder and / or tag.  Also where is the cache location?  I am running into issues where some albums are being reported as downloaded but they will not be downloaded into the Chrome downloader and won't show up in the downloads folder.  Windows 10 pro.  Google Chrome is up to date
Version 71.0.3578.98 (Official Build) (64-bit)  One example : https://crunchpod.band

[2019-01-24 21:09] jaymoulin commented on #32
Please do separates issues when you have multiple requests so others users can find what they're looking for easily.

Keeptune does not have cache system - your browser does.
If an album is displayed as downloaded you should be able to find the archive in your default download location (`CTRL + J` should show you all your downloaded files and where to find them)

Your specific URL produces the bug

[2019-01-24 22:18] #32 closed, assigned to jaymoulin

[2019-02-20 03:59] areyoumadlad opened #33 "Extension not listed in Chrome Web Store"
I had KeepTune installed on my browser and it was working fine. I reinstalled my OS and was setting it back up, followed the instructions at https://jaymoulin.github.io/keeptune/ and it will not let me enable the extension now, saying that it's not in the Chrome Web Store and cannot be enabled.

[2019-02-20 07:51] jaymoulin commented on #33
You have to follow ALL steps, it cannot be installed directly from the site since chrome blocks extensions from outside of webstore for security reason

[2019-02-20 07:51] jaymoulin commented on #33
Activate developer mode (upper left)
Reload the page (CTRL + R or CMD + R)
Drag and drop your downloaded keeptune.crx file on the extension page
Chrome should ask you if you want to install keeptune

[2019-02-21 16:19] c0c0c0 opened #34 "Album showing downloaded but not showing in downloads folder/"
Hello, I fond another album that is showing that it is downloaded but didn't go to the downloads folder.
https://blownload.bandcamp.com/album/come-again

Is it because of the special characters that Windows doesn't like and can't handle them?

Thank you.

[2019-02-21 21:27] #34 closed, assigned to jaymoulin

[2019-02-25 08:19] noconfidenceman commented on #33
I'm in the same position. Followed all the steps but Chrome won't let me switch the extension on because it's not in the webstore.
<img width="419" alt="screenshot 2019-02-25 at 6 15 57 pm" src="https://user-images.githubusercontent.com/47969798/53323419-d0246800-3929-11e9-898c-d01077602e3a.png">

[2019-02-25 08:35] jaymoulin commented on #33
This image confirm you installed it correctly. This is just a warning because you installed it outside chrome webstore (which is the normal way to do it since Google deleted KeepTune from its webstore for policy issue)

[2019-02-25 08:35] #33 closed, assigned to jaymoulin

[2019-02-25 08:36] noconfidenceman commented on #33
But I am unable to click the toggle in the bottom right of my screenshot to activate the extension?

[2019-02-25 08:46] jaymoulin commented on #33
Did you reload your extension page?

[2019-02-25 08:47] noconfidenceman commented on #33
Sure did

[2019-02-25 08:49] jaymoulin commented on #33
Then you should check on Chrome forums why it's not working :)

[2019-03-30 03:29] grand-lotus-iroh opened #35 "feature request: auto create playlist"
it would brilliant if there was option to "create playlist file" inside the folder when download. that way, could just double click when it's finished and Windows Media player does it's job.

[2019-04-03 00:49] Gimlao opened #36 "Extension disabled by Chrome"
It seems that we can't use KeepTune anymore...

https://support.google.com/chrome_webstore/answer/2811969?hl=en

I deleted version 2.3.0 after installing 2.3.2 then discovered that is was disabled ... ='(

[2019-04-03 21:42] jaymoulin commented on #36
Sorry about this but I can't do anything.
You may be able to install it on chromium or Chrome on linux (probably Firefox ) but Keeptune was banned from Chrome Webstore since it's diagnosed as a piracy tool (and I agree with them).

I may think about a solution but probably not as an extension

[2019-05-20 23:10] Tromick commented on #36
Thank you so much for this amazing extension! I am using this since 2017.

[2019-06-05 02:09] Technomode commented on #36
I wiped out my whole computer and from all the things I've lost this is the one that makes me sad

[2019-06-08 03:08] barkingbandicoot opened #37 "Broken in Brave"
**Description**

Version 2.3.2 has stopped working in Brave Browser in Linux.
No update that I am aware of.
Version 2.2.1 is still working in Chromium. Is it possible to download this version?

**Steps to reproduce the issue:**
1. Load bandcamp page
2.No pop up
3.No data found

[2019-06-09 15:38] jaymoulin commented on #37
I'm not sure that 2.2.1 will fix anything but I recompiled it
[keeptune.zip](https://github.com/jaymoulin/keeptune/files/3269690/keeptune.zip)

Precising which page you loaded would help to check what's happening.

[2019-06-12 11:02] barkingbandicoot commented on #37
Thanks! 2.2.1 works!

[2019-06-12 11:17] #37 closed, assigned to jaymoulin

[2019-06-22 14:46] c0c0c0 opened #38 "Not able to download new release"
https://armalyte.bandcamp.com/album/pig-candy

Thank you.

[2019-06-22 20:34] #38 closed, assigned to jaymoulin

[2019-06-22 20:35] #35 closed, assigned to jaymoulin

[2019-06-22 20:36] jaymoulin commented on #36
Could you try with these directions: https://jaymoulin.github.io/keeptune/

[2019-06-26 22:17] garymm commented on #30
Has this regressed?
I'm not seeing keeptune triggered on that page today.

[2019-06-30 21:45] jaymoulin commented on #30
No regression. Soundcloud just changed its algorithm. Since this is not related, a new issue should be opened.

[2019-06-30 21:46] #36 closed, assigned to jaymoulin

[2019-07-01 17:15] garymm opened #39 "Soundcloud does not trigger Keeptune"
**Description**

**Steps to reproduce the issue:**
1. Install KeepTune
2. Go to a Soundcloud URL. e.g. https://soundcloud.com/rac/s3s

**Describe the results you received:**
Nothing

**Describe the results you expected:**
Keeptune should be triggered and let me download the file

**Additional required informations:**

Link of the site: https://soundcloud.com/rac/s3s
Actual Keeptune version: 2.4.0

[2019-07-17 12:45] #39 closed, assigned to jaymoulin

[2019-10-09 20:55] analoggue opened #40 "Newest Release Won't Decompress"
The release currently linked on the releases page results in a corruption error when renamed to .zip. The release file 'keeptune.crx' appears to be HTML when opened in a text editor.

Thanks!

[2019-10-11 12:24] jaymoulin commented on #40
I added directly the zip file to the release but please read steps slowly and carefully :

1. Download latest version (the keeptune.zip, not the keeptune.crx nor source code zip)
1. Go to chrome://extensions
1. Activate developer mode (upper left)
1. Reload the page (CTRL + R or CMD + R)
1. Extract your downloaded keeptune.zip file in a keeptune folder
1. Click Load unpacked (upper left button)
1.

[2019-10-11 12:24] #40 closed, assigned to jaymoulin

[2019-12-01 09:51] Ectalite opened #41 "Adapt the extension for Firefox"
Hey,
You made very good work, but as it‘s only designed to work on chrome and chromium-based browsers, do you know if you could adapt it for firefox.
Thanks for all,
Ectalite

[2019-12-02 09:35] jaymoulin commented on #41
Thank you for your contribution.

If you find this product useful, please consider donating to help me continue creating great products.

As developing and maintaining as product is time consuming and exhausting, adapting KeepTune for Firefox was out of mind. I don't personally use Firefox and have no interest in doing such an adaptation. Plus, I'm actually selling music on Bandcamp platform and t

[2019-12-02 17:34] Ectalite commented on #41
Ok thanks

[2019-12-13 03:04] ghost opened #42 "No Longer Possible to Download Discographies"
Keeptune no longer gives me an option to download an artist's whole discography, but downloading by album still works.

Recreation:
1. Install Keeptune
2. Go to artist discography, such as https://chillhop.bandcamp.com/music

Result:
Nothing happens. Neither clicking the extension to bring up the download option works, nor is there a pop-up.

![image](https://user-images.githubusercontent.com/1436

[2019-12-16 14:06] jaymoulin commented on #42
Thank you for reporting this.

If you find this product useful, please consider donating to help me maintain/create great products.

Looks like Bandcamp changed its code so Keeptune (2.5.3 as I'm writing) is not compatible anymore for now.

[2019-12-23 13:23] #42 closed, assigned to jaymoulin

[2020-03-06 20:59] momiii opened #43 "Single tracks on bc do not trigger downloads"
**Steps to reproduce the issue:**
Open a single track on bandcamp, like [https://il-lo.bandcamp.com/track/biome](https://il-lo.bandcamp.com/track/biome), which is not dedicated to any album. Single tracks do not have any numbered tracks.

**Describe the results you received:**
bc-downloader does not trigger. Download isn't possible.

**Describe the results you expected:**
bc-downloader should trig

[2020-03-07 01:11] jaymoulin commented on #43
Thank you for reporting this. If you find this product useful, please consider donation to help me continue maintain and create great products ([![PayPal donation](https://github.com/jaymoulin/jaymoulin.github.io/raw/master/ppl.png "PayPal donation")](https://www.paypal.me/jaymoulin) [![Buy me a coffee](https://www.buymeacoffee.com/assets/img/custom_images/orange_img.png "Buy me a coffee")](https:

[2020-03-07 01:24] #43 closed, assigned to jaymoulin

[2020-03-12 22:23] #41 closed, assigned to jaymoulin

[2020-03-16 23:56] mxbray opened #44 "Chrome disabled manually installed extensions"
**Description**
Tried to install vers. 2.6.0 manually via the CRX file, but Chrome will not allow it to run. This method previously worked in the past.

Will I receive the same error with the Patreon build? Is there any way to get this working again?

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**
https://support.google.com/chrome_webstore/answer/2811969?visit_i

[2020-03-17 09:32] noconfidenceman commented on #44
I'm having the same issue. I get an alert "This extension is not listed in the Chrome Web Store and may have been added without your knowledge" and am unable to turn the extension on, even in developer mode.

[2020-03-30 09:13] jaymoulin commented on #44
Maintaining an application (answering questions, fixing bugs, adding new features...) is a hard and time consuming process. If you find this product useful and all the effort I put crafting this, I strongly encourage you to donation to help me being able to continue maintaining this and creating other great things on those platforms [![PayPal donation](https://github.com/jaymoulin/jaymoulin.github

[2020-03-30 17:00] mxbray commented on #44
1. I am on Chrome 80.0.3987.149
2. KeepTune public vers. 2.6.0
3. **ZIP is corrupted and will not unpack**

[2020-03-30 17:14] jaymoulin commented on #44
Just downloaded this with no problem : http://uploaded.net/file/z8zshxn7

[2020-03-30 17:55] mxbray commented on #44
Thank you! Confirming this does work when using the ZIP.

**The Unarchiver** app for Mac was not able to unzip the package, but I was able to get it to work with another extraction app.

[2020-03-30 17:55] #44 closed, assigned to jaymoulin

[2020-03-30 18:06] jaymoulin commented on #44
Thank you very much for your support <3

[2020-04-11 14:53] Vlark opened #45 "Can't unzip public 2.6.1 zip file"
I've tried several times for follow the directions for unzipping the public Keeptunes 2.6.1.zip file. The file will not unzip. I keep getting an error saying the file is invalid. I have downloaded on MacOS, Windows 10, Ubuntu 18.04, and Manjaro 19 using the Chromium, Firefox, and Brave browsers and trying to unzip with a variety of unarchivers on all platforms.

[2020-04-12 21:35] jaymoulin commented on #45
Maintaining an application (answering questions, fixing bugs, adding new features...) is a hard and time consuming process. If you find this product useful and all the effort I put crafting this, I strongly encourage you to donation to help me being able to continue maintaining this and creating other great things on those platforms [![PayPal donation](https://github.com/jaymoulin/jaymoulin.github

[2020-04-13 02:23] Vlark commented on #45
If I could install it and try it out, I might be inclined to support it. But if I can't even get it to work to try it out, then why would I shove money at you?

The checksum checks out, but it still won't unzip. I'll give winrar a try on my Windows box and see what happens.

[2020-04-13 08:57] jaymoulin commented on #45
Just before your eyes, I released 2.6.2 public release with md5 sum `7115d5b5a794ffc12925090949e36ad3`

This archive should be extractable with the tools you're using as I changed the compression method for this archive.

[2020-04-20 16:37] #45 closed, assigned to jaymoulin

[2020-05-20 04:38] Nowena opened #46 "Can't download anything anymore"
The extension no longer works. Nothing seems to trigger it; it detects no tracks, no albums, no discographies, nothing.
I'm using Opera. Was working fine a few days ago.

[2020-05-20 13:00] jaymoulin commented on #46
Maintaining an application (answering questions, fixing bugs, adding new features...) is a hard and time consuming process. If you find this product useful and all the effort I put crafting this, I strongly encourage you to donation to help me being able to continue maintaining this and creating other great things on those platforms [![PayPal donation](https://github.com/jaymoulin/jaymoulin.github

[2020-05-27 13:53] #46 closed, assigned to jaymoulin

[2020-09-09 21:38] mmmmna opened #47 "Frequently File Save does not raise (but sometimes it does)."
Chromium:
Version 84.0.4147.105 (Official Build) Built on Ubuntu , running on Ubuntu 18.04 (64-bit)

**Description**
File Save dialog often won't appear, but KT popup says 100% downloaded.
 Inconsistent file saving process

**Describe the results you received:**
https://  resonantearth.bandcamp.com/music
NOT logged in.
Click any shown release.
KT popup appears, click KT popup to download album.
So

[2020-09-15 15:28] jaymoulin commented on #47
Maintaining an application (answering questions, fixing bugs, adding new features...) is a hard and time consuming process. If you find this product useful and all the effort I put crafting this, I strongly encourage you to donation to help me being able to continue maintaining this and creating other great things on those platforms [![PayPal donation](https://github.com/jaymoulin/jaymoulin.github

[2020-09-15 15:28] #47 closed, assigned to jaymoulin

[2020-10-01 22:28] Nowena opened #48 "Some albums with special characters in titles do not download"
Albums with special characters such as "|" won't download.

Steps to reproduce the issue:
1. Go to this album: https://mhonos.bandcamp.com/album/humiliati-2012
2. Try downloading it
3. The extension acts as though the album is downloading but it doesn't actually download it at all

Albums with special characters don't download as they should because other albums normally download.

I should be abl

[2020-10-04 20:02] jaymoulin commented on #48
Maintaining an application (answering questions, fixing bugs, adding new features...) is a hard and time consuming process. If you find this product useful and all the effort I put crafting this, I strongly encourage you to donation to help me being able to continue maintaining this and creating other great things on those platforms [![PayPal donation](https://github.com/jaymoulin/jaymoulin.github

[2020-10-04 20:52] #48 closed, assigned to jaymoulin

[2020-12-16 04:44] greevak opened #49 "Can't download from soundcloud as of code error."
**Description**
![image](https://user-images.githubusercontent.com/38337258/102306098-7cf22e00-3f72-11eb-82e3-f136ae124aed.png)

line 22 says:

`function P(a,b){return new Promise(function(c,d){var e=JSON.parse(a),f=new XMLHttpRequest;f.arguments={P:b};f.onerror=function(){return d(f.statusText)};f.open("GET",e[e.length-4]);f.onload=function(){var g=/client_id:"([^"]+)"/g.exec(f.responseText);"und

[2020-12-16 14:26] jaymoulin commented on #49
Thank you for your issue. Keeptune support is now only continued for supporters on Patreon.

[![PayPal donation](https://github.com/jaymoulin/jaymoulin.github.io/raw/master/ppl.png "PayPal donation")](https://www.paypal.me/jaymoulin)
[![Buy me a coffee](https://www.buymeacoffee.com/assets/img/custom_images/orange_img.png "Buy me a coffee")](https://www.buymeacoffee.com/3Yu8ajd7W)
[![Become a Patro

[2020-12-22 19:51] Flamia opened #50 "Can't install latest version"
File
~\Downloads\keeptune-2.7.1
Error
Manifest file is missing or unreadable
Could not load manifest.

[2020-12-23 12:18] jaymoulin commented on #50
Did you get the latest version CRX file? Official directions are available on https://jaymoulin.me/me/keeptune

[2020-12-30 16:56] #50 closed, assigned to jaymoulin

[2021-01-05 14:37] #49 closed, assigned to jaymoulin

[2021-02-03 16:32] whispernmyghost opened #51 "Unable to download at all after upgrade to 2.7.2"
**Description**

Upgraded from 2.7.0 to 2.7.2, after upgrade not able to download from any bandcamp site. Does not display album information or "nothing to download" message.

**Steps to reproduce the issue:**
1. Remove 2.7.0 from chrome extensions
2. Remove all file folders for 2.7.0 from hard drive.
3. Download and extract 2.7.2.
4. Load unpacked files in chrome, no errors show for install.
5. N

[2021-02-03 23:31] jaymoulin commented on #51
Thank you for using Keeptune. As the screenshot clearly states, I live with my music or with this software and need you to support my work. If you want to continue using Keeptune, please consider upgrading to actual 2.8.0 on https://www.patreon.com/posts/keeptune-2-8-0-45563709

[2021-02-03 23:31] #51 closed, assigned to jaymoulin

[2021-02-26 05:06] jaymoulin opened #52 "Migrate to manifestv3"
With new manifestv3 from Google Chrome, manifestv2 extensions are to become deprecated.

https://developer.chrome.com/docs/extensions/mv3/intro/

Still no deprecation date as I'm writing but the extensions needs to migrate to still be compatible with future (and latest) Google Chrome browser.

This issue exists to keep tracks of what to do and may give information on what change with this migratio

[2021-05-02 22:08] jaymoulin commented on #52
Still working on this.
As I'm writing I already noticed that progress notification will disappear as well as automatic downloads (I'm still trying to find a workaround for it's a great loss in UX)

[2022-04-01 04:59] ghost opened #53 "Downloading the plugin off website does not work"
**Description**

 attempting to download to zip file chrome addon does not work and appear the file as "no file"

**Steps to reproduce the issue:**
1. attempt to download the addon using right click save
2. look at download bar

[2022-04-01 16:57] jaymoulin commented on #53
Fixed - but you have to know this version is really old and deprecated by Google. I still have some work to do (cf #52)

[2022-04-01 16:57] #53 closed, assigned to jaymoulin

[2022-04-08 00:49] #52 closed, assigned to jaymoulin